.float-item {
  width: 100px;
  height: auto;
  margin: 10px;
  float: left;
  border: 5px solid #15616c;
}

.container {
  width: 70%;
  margin: 0 auto;
}

figure {
}

h2 {
  text-align: center;
  margin-bottom: 3px;
}

figcaption {
  text-align: center;
  font-size: 12px;
}

img {
  width: 100%;
}

.container p {
  text-align: justify;
  font-size: smaller;
}

iframe {
  width: 100%;
}
